.card-layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 130px;
}

.card-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 128px;
	padding: 0px 30px;
}

.user-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.user-info p {
	color: black;
	text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}

.user-image {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 40px;
	transition: 0.4s;
}

.user-image:hover {
	box-shadow: 0 0 17px rgba(0, 0, 0, 0.6);
}

.ui.basic.button {
	cursor: pointer;
	border-radius: 17px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) !important;
	transition: 0.4s;
}

.ui.basic.button:hover {
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3) !important;
}
