.detailed-user {
	display: flex;
	width: 64vw;
	height: 168px;
	background: #ffffff;
	border-radius: 10px;
	margin-top: 20px;
	padding: 24px 48px;
}

img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-right: 40px;
}

.user-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.user-name {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
}

.user-location {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	text-align: left;
}

.user-date {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	opacity: 0.4;
	width: 100%;
	text-align: left;
}
